<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Express Marko</title>
    <!-- CSS includes -->
    <lasso-head/>
  </head>
  <body>
    <h1>${input.message}</h1>
    <h2>${input.status}</h2>
    <pre>
    ${input.stack}</pre>
    <!-- Top-level UI component: -->
    <!-- JS includes -->
    <lasso-body/>
  </body>
</html>
